<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Design your Taco!</title>
</head>
<body>
<h1>Design your aco!</h1>
<img alt="An happy Taco" th:src="@{/images/TacoCloud.gif}">

<form method="post" th:object="${taco}">
    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
            Please correct the problems below and resubmit.
            </span>
    </div>

    <div>
        <h2>Choose Your Ingredients</h2>
        <span class="validationError" th:errors="*{ingredients}" th:if="${#fields.hasErrors('ingredients')}"/>

        <div th:each="element : ${mapIngredients}">
            <h3 th:text="${#strings.capitalize(element.key.toString())}"/>
            <div th:each="ingredient : ${element.value}">
                <input name="ingredients" th:value="${ingredient.getId()}" type="checkbox"/>
                <span th:text="${ingredient.getName()}"/>
                <br/>
            </div>
        </div>
    </div>

    <h3>Name your taco creation:</h3>
    <input th:field="*{name}" type="text">
    <span class="validationError" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"/>
    <br/>
    <button type="submit">Submit your taco</button>
</form>

</body>
</html>