<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Design your Taco!</title>
</head>
<body>
<h1>Order your Taco creations!</h1>
<img alt="An happy Taco" th:src="@{/images/TacoCloud.gif}">
<a th:href="@{/design}">Design another taco</a>

<form method="POST" th:action="@{/orders}" th:object="${order}">
    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
            Please correct the problems below and resubmit.
            </span>
    </div>

    <h3>Deliver my taco masterpieces to...</h3>
    <label for="name">Name: </label>
    <input th:field="*{name}" type="text"/>
    <span class="validationError" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"/>
    <br/>
    <label for="street">Street address: </label>
    <input th:field="*{street}" type="text"/>
    <span class="validationError" th:errors="*{street}" th:if="${#fields.hasErrors('street')}"/>
    <br/>
    <label for="city">City: </label>
    <input th:field="*{city}" type="text"/>
    <span class="validationError" th:errors="*{city}" th:if="${#fields.hasErrors('city')}"/>
    <br/>
    <label for="state">State: </label>
    <input th:field="*{state}" type="text"/>
    <span class="validationError" th:errors="*{state}" th:if="${#fields.hasErrors('state')}"/>
    <br/>
    <label for="zip">Zip code: </label>
    <input th:field="*{zip}" type="text"/>
    <span class="validationError" th:errors="*{zip}" th:if="${#fields.hasErrors('zip')}"/>
    <br/>
    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>
    <input th:field="*{ccNumber}" type="text"/>
    <span class="validationError" th:errors="*{ccNumber}" th:if="${#fields.hasErrors('ccNumber')}"/>
    <br/>
    <label for="ccExpiration">Expiration: </label>
    <input th:field="*{ccExpiration}" type="text"/>
    <span class="validationError" th:errors="*{ccExpiration}" th:if="${#fields.hasErrors('ccExpiration')}"/>
    <br/>
    <label for="ccCVV">CVV: </label>
    <input th:field="*{ccCVV}" type="text"/>
    <span class="validationError" th:errors="*{ccCVV}" th:if="${#fields.hasErrors('ccCVV')}"/>
    <br/>
    <input type="submit" value="Submit order"/>
</form>

</body>
</html>